
<div class="hero-unit">
  <h1>{{title}} </h1>
  <h3>Compete with javascript</h3>
  <p>Learn how to program with javascript in a fun and exciting environment.  Create your own dinosaur and spawn it on <strong>Dino Island</strong>.  Only the smart survive!</p>
  <p>
    <a class="btn btn-primary btn-large" href='/dino'>
      Create Your Dino	
    </a>
  </p>
</div>